# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log